[project]
	description = created for practice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/arun-16
[access "refs/for/refs/*"]
	read = group user/arun-16
	push = group user/arun-16
	label-Code-Review = -2..+2 group user/arun-16
	label-Verified = -1..+1 group user/arun-16
	rebase = group user/arun-16
	removeReviewer = group user/arun-16
	submit = group user/arun-16
[access "refs/heads/*"]
	read = group user/arun-16
	create = group user/arun-16
	push = +force group user/arun-16
	pushMerge = group user/arun-16
[access "refs/tags/*"]
	push = +force group user/arun-16
	pushTag = group user/arun-16
	pushSignedTag = group user/arun-16
